@model List<CareStream.Models.ExtensionModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container no-gutter border-bottom mb-4">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light pt-0 pb-0">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav-tabs navbar-nav">
                    <li class="nav-item active col-4">
                        <a class="nav-link font-weight-bold" href="#" id="createAttrib">
                            <i class="fa fa-plus" aria-hidden="true"></i>  Create
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link font-weight-bold disabled" href="#" id="deleteAttrib">
                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link font-weight-bold" href="#" id="importData">
                            <i class="fa fa-upload" aria-hidden="true"></i> Import Data
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link font-weight-bold" href="#" id="exportData">
                            <i class="fa fa-download" aria-hidden="true"></i> Export Data
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row ">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Data Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
                }
                <tr>
                </tr>
            </tbody>
        </table>

    </div>
</div>



